services:

    db:
        image: postgres:15.15-alpine3.22
        container_name: flask
        ports:
            - "5431:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}